<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%=title%></title>


</head>

<body>
    <ul>
        <li><a href="./send">send</a></p>
        </li>
        <li><a href="./json">json</a></p>
        </li>
        <li><a href="./status">status</a></p>
        </li>
        <li><a href="./redirect">redirect to  google</a></p>
        </li>
        <li><a href="./a.jpg">img</a></p>
        </li>
    </ul>
</body>

</html>